body {
    background-color: #FFFAFA;
    text-align: center;
}

a {
	color: rgb(100,200,50);
	text-decoration: none;
}

ul {
	width: auto;
	margin: 0;
	padding: 0;
	display: inline-block;
}

li {
	background: black;
	border-radius: 4px 4px 4px 4px;
  	text-align: center;
  	color: green;
  	padding: 0px;
  	list-style: none;
  	margin-bottom: 2px;
}
li a {
	display: block;
	padding: 5px 15px 5px 15px;
}

ul li:hover {
    background-color: orange;
    border-radius: 4px 4px 4px 4px;
}