table, th, td {
	text-align: left;
	margin: auto;
    border: 3px solid #10dc15;
    border-collapse: collapse;
    margin-bottom: 5px;
}

th {
	font-size: 120%;
	font: bold;
	color: white;
	background-color: black;
}

td {
	background-color: #B0A7A7;
	color: #FFFF99;
}

form {
	text-align: center;
}